	/* General Rules - clean out most of these soon GXG 10/9/13 */
	
	/* added this 5.16.14 to see if it causes any problems */
	img {
		width: 100%;
	}
	/* Helper classes */
	.center {
	  text-align: center; 
	}
	
	.no-padding {
	  padding: 0; 
	}
	
	.hit-top {
		margin-top: 0;
	}
	
	.no-margin, figure {
	  margin: 0; 
	}
	
	.uppercase {
	  text-transform: uppercase; 
	}
	
	.float-left {
	  float: left; 
	}
	
	.center {
		text-align:center;
	}
	
	.no-margin {
		margin:0 auto!important;
	}
	
	.no-padding {
		padding:0!important;
	}
	
	.bold {
		font-weight:bold;
	}
	
	.float-left {
		float:left;
	}
	
	.verification-help {
		width:16px;
		display:inline-block;
	}
	.rss-icon,
	#blog-rss-link {
		width:20px;
		display:inline-block;
	}
	#mobile-menu-toggle,
	#mobile-menu-content {
		display:none;
	}
	
	/* From Connect XML */
	#emoContentWrap {
		width:100%;
		float:left;
	}
	#widgetarea_left{
		float: left;
	}
	
	#widgetarea_right{
		float: left;
	}
	
	ul.horizontal li:hover > ul{
	  display: block !important;
	  margin:0;
	}
	#nav-section {
		position:relative;
	}
	nav ul.horizontal,
	nav ul.horizontal li {
		float:left;
	}
	nav > ul li ul li ul.dropdown-menu {
		margin-left: 100% !important;
	}
	nav > ul li.more-link > ul {
		right: 0 !important;
		left:auto;
	}
	nav > ul li.more-link  ul li ul.dropdown-menu,
	nav > ul li.open-left ul li ul.dropdown-menu,
	nav > ul li:nth-last-child(2) > ul li ul.dropdown-menu {
		right: 100% !important;
		left:auto;
		
   }
	
	#emoContentWrap {
		float:left;
		width: 100%;
	}
	
	.contact-icons i {
		font-size:35px;
		margin: 15px;
	}

	/* Perhaps permanent  - deleted all old styles will break legacy layouts.. need to restrict sw5 from viewing those layouts */
	
	/* Home Page */
	#home-bottom-left, #about-bottom .address-info {
		text-align:center;
		border-right-width: 4px;
		border-right-style: solid;
		min-height: 180px;
	}
	#home-bottom-right img{
		width: 50px;
	}
	#home-bottom-right .bottom-right-content {
		width:70%;
		margin: 0 auto;
	}
	
	/* About */
	/* Maybe extract this out and make it a class for all pages */
	#about-bottom {
		margin-top: 35px;
	}
	
	#about-bottom .address-info {
		text-align:center;
		padding-top:15px;
	}
	
	#about-bottom .about-us-bottom-right {
		margin: 0 auto;
		width:70%;
	}
	
	.image-bar {
		border-bottom-width: 8px;
		border-bottom-style: solid;
		margin: 10px 0;
	}
	.image-bar img {
		width: 100%;
	}
	
	/* Financial Tools */
	/* Temp until 5 layout created */
	#financial_tools .calcContent {
		display:none;
	}
	#financial_tools ul li {
		list-style: none;
	}
	#financial_tools .calcList {
		width: 50%;
		float:left;
		margin: 15px 0;
	}
	
	/* Monthly News *
	/* Temp until new layout created */
	#monthly_news .archiveHeading {
		cursor:pointer;
		font-size: 1em;
	}
	#monthly_news .arch-month {
		min-width: 28px;
		margin-right: 5px;
	}
	#monthly_news .archiveContent.closed {
		display:none;
	}
	#monthly_news #monthly_form_right {
		display:none;
	}
	
	/* Tax Rates */
	.activeRates { 
		background: #EEEEEE; 
	} 
	
	.ratesLink { 
		outline:none; 
	} 
	
	.ratesLink:hover { 
		text-decoration: none; 
	}
	
	
	/* primary color variables */
	.primary-blue {
		color:#14A2C5;
	}
	
	.primary-border-blue {
		border-color:#14A2C5;
	}
    
	/* New Widget Stuff TEMP */
	.side-widgetarea .widgetContainer {
	  width: 100%;
	}
	#sw5-content-container .emoInnerContainer {
	  padding: 0 25px;
	}
    
	#page-title {
	  font-size: 2em;
	}
	/* New */
	.control-group {
		margin-bottom: 5px; 
	}
	
	/* Menu Stuff */
	nav ul li {
		list-style-type: none;
	}
	
	nav > ul {
		height: auto;
		float:left;
	}
	

	nav ul li a,
	nav ul li a:active {
		display: block;
		text-decoration: none;
	}

	nav ul li a:hover {
		text-decoration: none;
	}

	nav ul li ul li {
		float: none;	
	}

	nav ul li ul li a, 
	nav ul li ul li a:active,
	nav ul li ul li a:hover, 
	nav ul li ul li a:visited {
		font-size: 12px;
	}

	nav ul ul {
		display:none;
	}
	nav ul.dropdown-menu li {
		width: 100%;
	}
	nav ul ul ul.dropdown-menu {
		top:0%;
		margin-top:-5px;
	}
	nav select#select-nav {
		display:none;
	}
	
	/* Horizontal nav */
	nav#default-nav ul.horizontal li {
		float:left;
	}
	nav > ul {
		/*display:none;*/
	}
	nav#default-nav ul.horizontal li {
		margin: 0;
		padding: 0;
		position:relative;
	}
	/* Mobile Menu */
	#mobile-menu-toggle {
		position: absolute;
		right: 0;
		cursor: pointer;
		width:100%;
		text-align:right;
		height: 50px;
		top:0;
	}
	#mobile-menu-toggle i {
		padding:3px 5px;
	}
	#mobile-menu-toggle i.active {
		background:#EEEEEE;
	}
	#mobile-menu-content {
		display:none;
		right: 0;
		top: 100%;
		position:absolute;
		text-align: left;
		width:100%;
		background:#EEE;
		z-index:9999;
	}
	.mobile-menu-item a,
	.mobile-menu-header > div {
		display:block;
		width:100%;
		padding: 8px 15%;
		text-decoration:none;
		font-size: 18px;
	}
	 {
		padding: 8px 8%;
	}
	.mobile-menu-header .mobile-menu-item a,
	.mobile-menu-header .mobile-menu-header {
		padding:8px 8%;
	}
	
	.mobile-menu-item:active,
	.mobile-menu-header:active div:first-child {
		background:#FFFFFF;
	}
	.mobile-menu-item:hover,
	.mobile-menu-header:hover {
		cursor:pointer;
	}
	.mobile-menu-item a:hover,
	.mobile-menu-header div:hover {
		color:inherit;
	}
	.mobile-menu-header .mobile-menu-item,
	.mobile-menu-header .mobile-menu-header,
	.mobile-menu-header .mobile-menu-header .mobile-menu-item {
		display:none;
	}
	
	/* Big Map (contact) */
	#contact_us .company_info_div ul {
		padding: 0;
	}
	
	#taxOrganizerBtn{
		margin-top: 15px;	
	}

	/*info widget stuff*/

	.sw5InfoImage{
		height: 75px;
		width: 75px;
		margin-left: 50px;margin-left: 5rem;
		margin-top: 2.5%;
		float: left;
	}
	
	.info-widget .widget-header {
		margin-left: auto;
		margin-right: auto;
		width:auto;
	}
	.info-widget .widget-title{
		padding-top: 2.5%;
		padding-left: 3.5%;
		display:inline-block;
	}	
	h3.info-subtitle {
		display: inline-block;
		width: 51%;
		padding-left: 3.5%;
		padding-bottom: 2.5%;
		margin-top: 3px;
	}
	/* combinedLogoImage stuff */
	.combinedLogoImage .widget{
		position: relative;
		width:100%;
	}
	
	.combinedLogoImage .combinedLogoImageBox{
		position: relative;
		width: 100%;
	}
	
	.combinedLogoImage .logoImage-textBox{
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #525252;
		opacity: 0.7;
		border-top: solid 1px #3f3f3f;
	}
	.combinedLogoImage .logoImage-textBox .logoImage-inner{
		float: left;
		min-width: 300px;
		padding-bottom: 50px;
		color: #fff;
		padding-left:20px;
	}
	.combinedLogoImage .logoImage-textBox  .logoImage-inner.logoTitle{
		text-align: left;
		width: 45%;
		padding-left: 20px; padding-left: 2rem;
	}
	.combinedLogoImage .logoImage-textBox  .logoImage-inner.logoSubtitle{
		text-align: left;
		padding-left: 100px; padding-left: 10rem;
		width:  45%;
	}
	.combinedLogoImage .logoImage-textBox .logoImage-inner h1, 
	.combinedLogoImage .logoImage-textBox .logoImage-inner h4{
		color: #fff;
	}
	.combinedLogoImage .logoImage-textBox .logoImage-inner h1{
		font-size: 6rem;
	}
	.combinedLogoImage .logoImage-textBox .logoImage-inner h4{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 3rem;
	}
	.combinedLogoImage .bottomBar{
		width: 100%;
		height: 50px;
		position: absolute;
		bottom: 0;
		background: #EDEDED;
		border-top: solid 1px #3f3f3f;
		color: #FB9C2F;
		font-size: 3rem;
		font-weight: bold;
		padding:  5px 25px;
	}
	.combinedLogoImage .bottomBar .logoText {
		text-align: left;
		width: 45%;
		padding-left: 75px; padding-left: 7.5rem;
	}
/* end combined ImageLogo stuff  */
	
/* featured accoutnant widget stuff */
	.widget.featured_accountant{
		padding: 30px;
	}
	.widget.featured_accountant .featured_accountant_widget_title{
		font-size: 2rem;
		font-weight: bold;
		text-tranform: uppercase;
	}
	.widget.featured_accountant .info_div{
		display: inline-block;	
		border-bottom: 4px solid;
		margin-bottom: 20px;
		padding: 0;
	}
	.widget.featured_accountant .accountant_info{
		font-size: 1.5rem;
		font-weight: bold;
		text-tranform: uppercase;
	}
	.featured_accountant_inner .featured_accountant_copy{
		padding-top: 2rem;
			padding-top: 2rem;
	}
	.featured_accountant_inner img{
		height: 125px;
		width: 125px;
		float: left;
		margin-right: 21px
	}
	/* end  featured accoutnant widget stuff  */	
	
	/*  Irs taxForms Table*/
	
	#irsformtable { 
			width: 100%; 
			border-collapse: collapse; 
			margin-top: 10px;
		}
		/* Zebra striping */
		#irsformtable tr:nth-of-type(odd) { 
			background: #eee; 
		}
	#irsformtable	th { 
			background: #333; 
			color: white; 
			font-weight: bold; 
		}
	#irsformtable td,#irs_forms th { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	
	#irsformtable_info, #irsformtable_paginate{
		margin-top: 5px;
	}
		
	/* end  Irs taxForms Table (more in media queries below)*/
	
	/* compensates for weired bootstrap styling*/
	#full-service-menu .service-link{
		padding: 10px 40px;
	}
	
	.divider-section .divider_display{
		border: none;
	} 
	
	/* Menu Stuff  ----- pulled from connect */
	/* [[ ---- MEDIA QUERIES ---- ]] */
	/* Bootstrap 2 */
	/* Large desktop */
	@media (min-width: 1200px) {  }
	
	/* Portrait tablet to landscape and desktop - 992 in bootstrap 3 */
	@media (min-width: 768px) and (max-width: 979px) {  }
	
	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) { 
		.logoImage-inner.logoSubtitle{
			display:none;
		}
	 }
	
	/* Landscape phones and down */
	@media (max-width: 480px) { 
		#taxOrganizerBtn{
			padding: 3px;
		}
	 }

	/* Bootstrap 3 */
	/* xs only */
	@media (max-width:767px){
	/* irs froms table*/ 
		#irsformtable, #irs_forms thead, #irsformtable tbody, #irsformtable th, #irsformtable td,
		#irsformtable tr { 
			display: block; 
		}
		/* Hide table headers (but not display: none;, for accessibility) */
		#irsformtable thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		#irsformtable tr {
			border: 1px solid #ccc;
		}
		#irsformtable td { 
			/* Behave  like a "row" */
			border: none;
			/*border-bottom: 1px solid #eee; */
			position: relative;
			/*padding-left: 50%; */
		}
		
		#irsformtable	td:before { 
			/* Now like a table header */
			/*position: absolute;*/
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		/*Label the data*/
		#irsformtable td:nth-of-type(1):before { content: "Product Number:"; }
		#irsformtable td:nth-of-type(2):before { content: "Form Type:"; }
		#irsformtable td:nth-of-type(3):before { content: "Product Description:"; }
		/* end irs forms table */	
	}

	/* back to top button*/ 

	a.backToTop {	
		padding: 5px 5px;
		background-color: none;
		width: 90px;
		height: 28px;
		bottom: 4px;
		right: 8px;
		text-decoration: none;
		position: fixed;
		 z-index: 100;
		border-radius: 8px;
		text-align: center;
	}
		
	a.backToTop:hover{
		text-decoration:none;
		background-color: rgba(135, 135, 135, 0.50);
	}
		
		#error-alert {padding: 3px; color: red; margin: 5px auto;}


	/* small to medium screen @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) */
	@media (min-width:768px) and (max-width:991px){ }

	/* screen sm and up */
	@media (min-width:768px){ }
	
	/* xs -> med */
	@media (max-width:991px){ }
	
	/* screen medium and up */
	@media (min-width:992px){ }
	
	/* medium to big screen @media (min-width: @screen-md-min) and (max-width: @screen-md-max) */
	@media (min-width:992px) and (max-width:1199px){ }
	
	/* Big screen only @media (min-width: @screen-lg-min) */
	@media (min-width:1200px){ }


	/*not in bootstrap 2 size 980x1280 is here  */
	
	/*@media screen and (min-width: 768px) and (max-width: 1024px) {*/
	/* B3 Fixed */
	@media (max-width:991px){
		#home-bottom-right .bottom-right-content {
		    text-align: center;
		}
		
		 #about-bottom .address-info {
		    border-right: none;
		}
		
		nav#default-nav, nav .default-nav {
			display: none !important; 
		}
		
		nav#mobile-nav select#select-nav,
		#mobile-menu-toggle {
			display: block !important; 
		} 
		/* Because widget areas are now hidden --- this logic is in default-widget-style.. should be moved here */
		#sw5-content-container {
			margin: 0 0 0 0 !important;
		}
		#home-bottom-left {
			border-right: none;
		}
		#service-select {
			display:block !important;
		}
		#full-service-menu {
			display:none;
		}
	}
	
	/* B3 Fixed */
	/*@media (min-width: 768px) and (max-width: 979px) {
		padding: 15px 0px !important;
	}*/
	
	/* B3 Fixed */
	/* Landscape phone to portrait tablet */
	@media screen and (max-width: 767px) {
		nav#mobile-nav,
		#mobile-menu-toggle {
			display: block !important; 
		}
		nav#default-nav {
			display: none !important; 
		} 
		/* Because widget areas are now hidden --- this logic is in default-widget-style.. should be moved here */
		#sw5-content-container {
			margin: 0 0 0 0 !important;
		}
	}
	

/*
     FILE ARCHIVED ON 10:55:42 Sep 04, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:50:09 Jun 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.874
  exclusion.robots: 0.095
  exclusion.robots.policy: 0.082
  esindex: 0.012
  cdx.remote: 6.012
  LoadShardBlock: 64.071 (3)
  PetaboxLoader3.datanode: 45.241 (4)
  PetaboxLoader3.resolve: 87.324 (2)
  load_resource: 96.99
*/