/* Note [[ ]] Denotes section for easy search */
/* [[ Test Default Variables ]] */
/* [[ Skin Variables ]] */
/* [[ Skin Typography From Design ]] */
* {
	font-family:helvetica,arial sans-serif;
	font-size:100%;
}

p {
	color:#555;
}

h1,h2,h3,h4,h5 {
	color:#255F32;
}

h3 {
	font-size:1.8em;
	font-weight:400;
}

h4 {
	font-size:1.4em;
	font-weight:400;
	text-transform:uppercase;
	color:#255F32;
}

a {
	color: #255F32;
}
a:hover {
	color:#368B49;
}

.widget-button, .btn-primary {
	background: #368B49;
}

.widget-button:hover, .btn-primary:hover {
	background: #38ae52;
}

/* Inputp stuff */
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus {
	border-color:#255F32;
	box-shadow:0 0 0 #255F32 inset,0 0 8px #255F32;
	-webkit-box-shadow:inset 0 0 8px #255F32;
	-moz-box-shadow:inset 0 0 8px #255F32;
}

/* [[ ---- Theme Styling ---- ]] */
body {
	background:url(/web/20180904103733im_/http://www.johndike.ca/emothemes/themestore/connect/emotheme/skins/success/img/texture.png) repeat scroll 0 0 transparent;
}

.primary-color {
	color:#255F32;
}

.white-border {
	border:10px solid #fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.bottom-shadow {
/* mixin */
	-webkit-box-shadow:0 2px 18px 0 #000;
	-moz-box-shadow:0 2px 18px 0 #000;
	box-shadow:0 2px 18px 0 #000;
}

.bottom-shadow-small {
	-webkit-box-shadow:0 4px 8px -5px #000;
	-moz-box-shadow:0 4px 8px -5px #000;
	box-shadow:0 4px 8px -5px #000;
}

.burst {
	background-position:top center;
	background-repeat:no-repeat;
/* Mixin or something so that you only have to type one line */
	background:#000;
/* Old browsers */
	background:-moz-radial-gradient(top,ellipse cover,white 0%,#255F32 30%,black 55%);
/* FF3.6+ */
	background:-webkit-gradient(radial,top center,0px,center center,100%,color-stop(0%,white),color-stop(30%,#255F32),color-stop(55%,black));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(top,ellipse cover,white 0%,#255F32 30%,black 55%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(top,ellipse cover,white 0%,#255F32 30%,black 55%);
/* Opera 12+ */
	background:-ms-radial-gradient(top,ellipse cover,white 0%,#255F32 30%,black 55%);
/* IE10+ */
	background:radial-gradient(ellipse at top,white 0%,#255F32 30%,black 55%);
/* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#255F32',endColorstr='#000000',GradientType=1);
/* IE6-9 fallback on horizontal gradient */
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#255F32',endColorstr='#000000',GradientType=1);
/* IE8 */
}

.horizontal-gradient {
/* Mixin or something so that you only have to type one line */
	background:#000;
/* Old browsers */
	background:#000;
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzAwNTQ4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2QxZTFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzAwNTQ4YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(left,black 0%,#156729 29%,white 48%,#156729 67%,black 100%);
/* FF3.6+ */
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,black),color-stop(29%,#156729),color-stop(48%,white),color-stop(67%,#156729),color-stop(100%,black));
/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(left,black 0%,#156729 29%,white 48%,#156729 67%,black 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(left,black 0%,#156729 29%,white 48%,#156729 67%,black 100%);
/* Opera 11.10+ */
	background:-ms-linear-gradient(left,black 0%,#156729 29%,white 48%,#156729 67%,black 100%);
/* IE10+ */
	background:linear-gradient(to right,black 0%,#156729 29%,white 48%,#156729 67%,black 100%);
/* W3C */
/*
  background: -moz-linear-gradient(left,  #000000 0%, $burst-color 29%, #d1e1ea 48%, $burst-color 67%, #000000 100%); // FF3.6+
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(29%,$burst-color), color-stop(48%,#d1e1ea), color-stop(67%,$burst-color), color-stop(100%,#000000)); // Chrome,Safari4+
  background: -webkit-linear-gradient(left,  #000000 0%,$burst-color 29%,#d1e1ea 48%,$burst-color 67%,#000000 100%); // Chrome10+,Safari5.1+ 
  background: -o-linear-gradient(left,  #000000 0%,$burst-color 29%,#d1e1ea 48%,$burst-color 67%,#000000 100%); // Opera 11.10+ 
  background: -ms-linear-gradient(left,  #000000 0%,$burst-color 29%,#d1e1ea 48%,$burst-color 67%,#000000 100%); // IE10+ 
  background: linear-gradient(to right,  #000000 0%,$burst-color 29%,#d1e1ea 48%,$burst-color 67%,#000000 100%); // W3C 
  */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=1);
/* IE6-8 */
}

/* Default Objects */
.divider {
/*background: url(/web/20180904103733im_/http://www.johndike.ca/emothemes/themestore/connect/emotheme/skins/success/img/divider.png) no-repeat top center; */
}

/* [[ Default Typography ]] */
* {
	font-family:helvetica,arial sans-serif;
	font-size:100%;
}

header {
	position:relative;
/* [[ Nav ]] */
}

header .burst-container {
	position:absolute;
/*height:80%;*/
	width:100%;
	z-index:-1;
	border-color:#3b3938;
	border-width:2px;
	overflow:hidden;
	background: url(/web/20180904103733im_/http://www.johndike.ca/emothemes/themestore/connect/emotheme/skins/success/img/grey-header-bg.jpg) repeat scroll 0 0 transparent;
}

header .burst-container #burst-bg {
	height:500px;
}

header #burst-container-splash {
	height:365px;
}

header #burst-container-default {
	height:146px;
}

header #logo h1,header #logo h2,header #logo p,header #logo h4,header #logo a {
	color:#FFF;
	text-decoration:none;
}

header #logo p {
	font-size:1em;
	line-height:1.5621428571429em;
}

/* Nav stuff */
header #nav-full {
/* mixin or something so that you can just do opacity */
	background:#000;
/* Fallback for web browsers that doesn't support RGBa */
	background:#000;
/* RGBa with 0.6 opacity */
	background:rgba(0,0,0,0.4);
/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
/* For IE 8*/
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000)";
}

header #nav-full #nav-div #select-nav > a {
	margin-right:10px;
	color:#FFF;
	line-height:2em;
	font-size:1.2em;
}

header #nav-full #nav-div nav > ul > li > a {
	color:#fff;
}

header #nav-full #nav-div nav > ul active a,header #nav-full #nav-div nav > ul #nav-div nav ul li > a:hover {
	background-color:#368B49;
	background-image:none;
	border-color:#abafb2;
	border-width:1px;
}

header #nav-full #nav-div nav > ul li > a:hover {
	background-color:#368B49;
	background-image: none;
}

/* End nav stuff */
header .header-image-container #splash-image-links {
	color:#255F32;
}

header .header-image-container .splash-image img {
	width:100%;
	background:none;
}

/* [[ Main-Content Section ]] */
section#main-section {
	margin:15px auto;
}

section#main-section > .container {
	padding:15px 25px;
}

/* [[ Footer ]] */
footer {
	background: url(/web/20180904103733im_/http://www.johndike.ca/emothemes/themestore/connect/emotheme/skins/success/img/grey-header-bg.jpg) repeat scroll 0 0 transparent;
}

footer h4 {
	margin-bottom:5%;
}

/* [[ Copyright Div ]] */

/* [[ ---- MEDIA QUERIES ---- ]] */
/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
	#sw5-content-container {
		margin:0!important;
	}
}

/*/mediaquery*/
/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
	body {
		padding:0;
	}
	
	h4 {
		font-size:1.6em;
	}
	
	header .burst-container {
		width:100%;
	}
	
	header #nav-full #nav-div #full-nav {
		display:none;
	}
	
	header #nav-full #nav-div #select-nav {
		display:block;
	}
	
	header .header-image-container {
		padding-right:0;
	}
	
	header .header-image-container .splash-image {
		padding:0 5%;
	}
	
	.splash-style {
		display:block!important;
	}
	
	.default-style {
		display:none!important;
	}
	
	.divider {
		height:2px;
	}
	
	#sw5-content-container {
		margin:0!important;
	}
}

/*/mediaquery*/
/*
     FILE ARCHIVED ON 10:37:33 Sep 04, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:50:11 Jun 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.844
  exclusion.robots: 0.118
  exclusion.robots.policy: 0.103
  esindex: 0.012
  cdx.remote: 5.83
  LoadShardBlock: 166.625 (3)
  PetaboxLoader3.datanode: 223.405 (4)
  PetaboxLoader3.resolve: 182.432 (3)
  load_resource: 258.556
*/